.container {
  width: 100vw;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
  text-shadow: 8px 8px 2px rgb(0,0,0);
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 40%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.footer{
  border: 5px solid #4ECCA3;
  border-radius: 17px 17px;

}
@media(max-width:600px) {
img{width: 80%;}

}
.btn{
  outline: :none;
  border:10px solid #404b69;
background-color: rgb(20,110,40);
font-size: 4rem;
border-radius:  40px;
color:red;
font-family:'piedra', cursive;
line-height: 1.5;
margin-top: 15%;
text-shadow: 5px 5px 2px black;}
@media (max-width:768px){
  h1{font-size:3rem;}
  p{font-size:1rem;}
}
